@using CarRental.MVC.Models
@model DealViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";

    var linktopicture = "/Guest/GetImage/" + @ViewBag.thisCarModel.ModelID.ToString();

    ModelView thisModel = ViewBag.thisCarModel;

}

<h3>Your Slection</h3>

<div class="reservation">
    @using (Html.BeginForm("Confirmation", "Customer", FormMethod.Post))
    {
    <h2>@ViewBag.thisCarModel.</h2>
    <br />
    <br />
    <img src="@linktopicture" />
    <br />
    <p>Miliage:@ViewBag.thisCarModel </p>
    <br />
    <p>Car Number:@ViewBag.thisCarModelr</p>
    <br />
    <p>Price: @ViewBag.price</p>
    <br />
    <a class="btn btn-success" href="@Url.Action("Confirmation", "Customer")"></a> <a class="btn btn-danger" href="@Url.Action("Index", "Guest")">Cancell</a>  
    }
    <br />
    <br />
</div>



   
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/ViewScripts/CustomerScript.js"></script>
