@using CarRental.MVC.Models
@model DealViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";

    var linktopicture = "/Guest/GetImage/" + @ViewBag._Model.ID.ToString();

    

}

<h3>Your Slection</h3>

<div class="reservation">
    @using (Html.BeginForm("Confirmation", "Customer", FormMethod.Post))
    {
    <h2>@ViewBag._Model.NameofModel</h2>
    <br />
    <br />
    <img src="@linktopicture" />
    <br />
    <br />
    <p>Miliage:@ViewBag._Car.Mileage </p>
    <br />
    <p>Car Number:@ViewBag._Car.CarNumber</p>
    <br />
    <p>Price: @ViewBag.price</p>
    <br />
    <a class="btn btn-success" href="@Url.Action("Confirmation", "Customer")">Confirm</a> <a class="btn btn-danger" href="@Url.Action("Index", "Guest")">Cancell</a>  
    }
    <br />
    <br />
</div>



   
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/ViewScripts/CustomerScript.js"></script>
