@model IEnumerable<CarRental.MVC.Models.DealViewModel>
@{
    ViewBag.Title = "MyBusket";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>MyBusket</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupposedReturn)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.ClientID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarID)
                    </th>
                    <th></th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupposedReturn)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarID)
                        </td>
                        <td>
                            <a class="btn btn-success" href="@Url.Action("Confimation", new { dealID = item.ID })">Confirm</a>  <a class="btn btn-primary" href="@Url.Action("Index","Guest")">Continue Shopping</a>   <a class="btn btn-danger" href="@Url.Action("RemoveItemFromBusket", new { dealID = item.ID })">Delete</a> 
                        </td>
                        
                    </tr>

                    
                }

            </table>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script src="~/Scripts/ViewScripts/MainScript.js"></script>