@model IEnumerable<CarRental.MVC.Models.DealViewModel>

@{
    ViewBag.Title = "PreviousReservations";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Your Previous Reservations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupposedReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate.Value.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupposedReturn.Value.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealReturn.Value.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarID)
        </td>
      
    </tr>
}

</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

