@model CarRental.MVC.Models.DealViewModel


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add New Deal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "StartDate form-control", id = "datepicker" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupposedReturn, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.SupposedReturn, new { htmlAttributes = new { @class = "sreturn form-control" ,id = "datepicker1" } })
                @Html.ValidationMessageFor(model => model.SupposedReturn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RealReturn, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.RealReturn, new { htmlAttributes = new { @class = "rreturn form-control", id = "datepicker2" } })
                @Html.ValidationMessageFor(model => model.RealReturn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientID, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.ClientID, new { htmlAttributes = new { @class = "Client form-control" } })
                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarID, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.CarID, new { htmlAttributes = new { @class = "Car form-control" } })
                @Html.ValidationMessageFor(model => model.CarID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="button" value="Create" class="btn btn-primary" id="submitNewDeal" />  <input type="button" value="Cancel" class="btn btn-danger cancel" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {

        $('#datepicker').datepicker();

        $('#datepicker1').datepicker();

        $('#datepicker2').datepicker();
    });

</script>

<script src="~/Scripts/ScriptLibriaries/jquery.validate.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/jquery.validate.unobtrusive.min.js"></script>