@model CarRental.MVC.Models.ModelView


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

    

    <div class="form-horizontal">
        <h4>Add New Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ManufacturerId, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.ManufacturerId, new { htmlAttributes = new { @class = "form-control ManufacturerId" } })
                @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameofModel, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.NameofModel, new { htmlAttributes = new { @class = "form-control NameofModel" } })
                @Html.ValidationMessageFor(model => model.NameofModel, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.gear, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EnumDropDownListFor(model => model.gear, htmlAttributes: new { @class = "form-control Gear" } )            
                @Html.ValidationMessageFor(model => model.gear, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.DailyPrice, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.DailyPrice, new { htmlAttributes = new { @class = "form-control DailyPrice" } })
                @Html.ValidationMessageFor(model => model.DailyPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LateReturnFine, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.LateReturnFine, new { htmlAttributes = new { @class = "form-control LateReturnFine" } })
                @Html.ValidationMessageFor(model => model.LateReturnFine, "", new { @class = "text-danger" })
            </div>
        </div>


    


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="button" value="Create" class="btn btn-primary" id="submitNewModel"/>  <input type="button" value="Cancel" class="btn btn-danger cancel" />
            </div>
        </div>
    </div>
}



<script src="~/Scripts/ScriptLibriaries/jquery.validate.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/jquery.validate.unobtrusive.min.js"></script>
