@model IEnumerable<CarRental.MVC.Models.CarModelViewModel>


<table class="table table-bordered table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameofModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LateReturnFine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameofModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LateReturnFine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
           
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
