@model CarRental.MVC.Models.CarViewModel

<h2>Picture</h2>


@using (Html.BeginForm("SubmitPicture", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label class="btn btn-default btn-file">
        Browse   <input id="picture" name="picture" type="file" style="display:none" />
    </label>


    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.BranchID)
    @Html.HiddenFor(x => x.CarNumber)
    @Html.HiddenFor(x => x.Mileage)
    @Html.HiddenFor(x => x.ModelID)
    @Html.HiddenFor(x => x.ProperState)



    <input type="submit" class="btn btn-success" value="submit" />
}