
@{
    ViewBag.Title = "VehiclesEdit";
    Layout = "~/Views/Manager/ManagersLayout.cshtml";
}

<h2>VehiclesEdit</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="@Url.Action("DealIndex")">Add Model</a></li>
    <li role="presentation"><a href="@Url.Action("VehiclesEdit")">Edit Model</a></li>
    <li role="presentation"><a href="@Url.Action("Users")">Delete Model</a></li>
    <li role="presentation"><a href="@Url.Action("DealIndex")">Add Car</a></li>
    <li role="presentation"><a href="@Url.Action("VehiclesEdit")">Edit Car</a></li>
    <li role="presentation"><a href="@Url.Action("Users")">Delete Car</a></li>
    <li role="presentation"><a href="@Url.Action("DealIndex")">Add Manufacturer</a></li>
    <li role="presentation"><a href="@Url.Action("VehiclesEdit")">Edit  Manufacturer</a></li>
    <li role="presentation"><a href="@Url.Action("Users")">Delete Manufacturer</a></li>
</ul>
