@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Views/Guest/GuestControllerScript.js"></script>

<h2>Car Search</h2>
<main>


    <div class="input-group">
        <select name="transmission">
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
        </select>
        <br />
        <br />
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, new { @class = "dropdown form-control" });
        <br />
        <br />
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, new { @class = "dropdown form-control" });
        <br />
        <br />             
        <p>Date: <input type="text" id="datepicker" class="form-control" /></p>
        <br />
        <br />
        <input type="text" class="form-control" placeholder="Search for...">
    </div>
    <br />
    <br />
  
        <ul class="list-inline carlist">


            @foreach (var car in Model)
            {
                <li class="" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new { id = car.ModelID })" />


                </li>
            }

        </ul>

</main>