@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

t src="~/Scripts/ViewScripts/GuestControllerScript.js"></script>


<script >
    $(function () {
        
        var helperUrl = '@Url.Action("HelpAjax","Guest")';
        var result;
        $.getJSON(helperUrl, function (data) {
            result = data;
            console.log(result);
        });   
    });


</script>

<h2>Car Search</h2>
<main>


    <div class="input-group">
        <select name="transmission">
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
        </select>
        <button id="searchbyTransmission"></button>
        <br />
        <br />
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, new { @class = "dropdown form-control" });
        <button id="searchbyModel">Search by Model</button>
        <br />
        <br />
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, new { @class = "dropdown form-control" });
        <button id="searchbyManufacturer">Search by Manufacturer</button>
        <br />
        <br />             
        <p>Date: <input type="text" id="datepicker" class="form-control" /></p>
        <button id="searchbyDate">Search by Date</button>
        <br />
        <br />
        <input type="text" class="form-control" placeholder="Search for...">
        <button id="freeSearch">Search</button>
    </div>
    <br />
    <br />
  
        <ul class="list-inline carlist">


            @foreach (var car in Model)
            {
                <li class="" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new { id = car.ModelID })" />
                    <br />
                    <button>Order</button>


                </li>
            }

        </ul>

</main>