@using CarRental.Data

@model IEnumerable<Car>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Scripts/ViewScripts/GuestControllerScript.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Libraries/moment.min.js"></script>
<script>

    $(function () {
    
        



        $('#searchbyDate').click(function () {

            
        });


    });


</script>

<h2>Car Search</h2>
<main>

    <div class="container carsearch col-lg-12">




        <label>Search by gear</label>
    <div class="input-group col-md-3">     
        <select name="transmission" class="dropdown form-control" id="gear">
            <option value="#" selected>--Select Gear--</option>
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
            <option value="2">Robotic</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-default" id="searchbyTransmission">Search</button>
        </span>
      
    </div>



        <br />
        <br />




        <label>Search by model</label>
    <div class="input-group col-md-3">            
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, "-- Please Select --", new {  @class = "dropdown form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" id="searchbyModel">Search</button>
        </span>     
    </div>
        <br />
        <br />


        <label>Search by manufacturer</label>
        <div class="input-group col-md-3">              
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, "-- Please Select --", new { @class = "dropdown form-control" })
        <span class="input-group-btn">
            <button class="btn btn btn-default" id="searchbyManufacturer">Search</button>
        </span>      
    </div>
        <br />
        <br />



        <label>Please Select Date</label>
    <div class="input-group col-md-3">
        <input type="text" id="datepicker1" class="form-control" placeholder="From..." />
        <input type="text" id="datepicker2" class="form-control" placeholder="To..." />
        <span class="input-group-btn">
            <button class="btn btn-default" id="searchbyDate">Search</button>
        </span>        
    </div>
        <br />
        <br />



        <label>Free Search</label>
    <div class="input-group col-md-3">
             
        <input type="text" id="freeText" class="form-control" placeholder="Search for..."> 
        <span class="input-group-btn">
            <button class="btn btn-default" id="freeSearch">Search</button>
        </span> 
              
        
    </div>
        <br />
        <br />
        <button class="btn btn-default" id="reset">Clear Results</button>
    </div>

    <div id="dialog" title="Price Calculation">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <input type="number" class="form-control"/>
            <input  type="submit"/> <input type="reset" />
        </div>
        <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>


        <ul class="list-inline carlist">
            @foreach (var car in Model)
            {
                <li class="list-group-item model" data-carModel="@car.Model.NameofModel" data-manufacturer="@car.Model.Manufacturer.Manufacturer" data-gear="@car.Model.gear" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new {  id = car.ModelID })" />
                    <br />
                    <button class="orderCar btn btn-default">Order</button>


                </li>
            }

        </ul>

</main>