@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Scripts/ViewScripts/GuestControllerScript.js"></script>


<script >

 

    $(function () {
        
        
    });


</script>

<h2>Car Search</h2>
<main>

    <div class="container carsearch col-lg-12">
    <div class="input-group col-md-3">
        <label>Search by gear</label>
        <select name="transmission" class="dropdown form-control" id="gear">
            <option value="#" selected>--Select Gear--</option>
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
            <option value="2">Robotic</option>
        </select>
        <div><button class="btn btn-default" id="searchbyTransmission">Search</button></div>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <label>Search by model</label>
        <br />
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, "-- Please Select --", new {  @class = "dropdown form-control" })
        <div><button class="btn btn-default" id="searchbyModel">Search</button></div>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <label>Search by manufacturer</label>
        <br />
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, "-- Please Select --", new { @class = "dropdown form-control" })
        <div><button class="btn btn btn-default" id="searchbyManufacturer">Search</button></div>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <label>Please Select Date</label>
        <br />
        <input type="text" id="datepicker1" class="form-control" placeholder="From..." />
        <input type="text" id="datepicker2" class="form-control" placeholder="To..." />
        <div> <button class="btn btn-default" id="searchbyDate">Search</button></div>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <label>Free Search</label>
        <br />
        <input type="text" id="freeText" class="form-control" placeholder="Search for...">
        <br />
        <div><button class="btn btn-default" id="freeSearch">Search</button></div>
    </div>
        <br />
        <br />
        <button class="btn btn-default" id="reset">Clear Results</button>
    </div>



        <ul class="list-inline carlist">
            @foreach (var car in Model)
            {
                <li class="list-group-item" data-carModel="@car.Model.NameofModel" data-manufacturer="@car.Model.Manufacturer.Manufacturer" data-gear="@car.Model.gear" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new {  id = car.ModelID })" />
                    <br />
                    <button class="btn btn-default">Order</button>


                </li>
            }

        </ul>

</main>