@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Scripts/ViewScripts/GuestControllerScript.js"></script>


<script >

    var result;

    $(function () {
        
        var helperUrl = '@Url.Action("HelpAjax","Guest")';
        
        $.getJSON(helperUrl, function (data) {
            result = data;
            console.log(result);
        });   
    });


</script>

<h2>Car Search</h2>
<main>

    <div class="container col-lg-12">
    <div class="input-group col-md-3">
        <select name="transmission" class="dropdown form-control">
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
        </select>
        <span class="input-group-btn"><button class="btn btn-default" id="searchbyTransmission">Search</button></span>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, "-- Please Select --", new {  @class = "dropdown form-control" })<span class="input-group-btn"><button class="btn btn-default" id="searchbyModel">Search by Model</button></span>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, "-- Please Select --", new { @class = "dropdown form-control" })<span class="input-group-btn"><button class="btn btn btn-default" id="searchbyManufacturer">Search by Manufacturer</button></span>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <input type="text" id="datepicker" class="form-control" /><span class="input-group-btn" > <button class="btn btn-default" id="searchbyDate">Search by Date</button></span>
    </div>
        <br />
        <br />
    <div class="input-group col-md-3">
        <input type="text" id="freeText" class="form-control" placeholder="Search for...">
        <span class="input-group-btn"><button class="btn btn-default" id="freeSearch">Search</button></span>
    </div>
        <br />
        <br />
    </div>
        <ul class="list-inline carlist">


            @foreach (var car in Model)
            {
                <li data-carModel="@car.Model.NameofModel" data-manufacturer="@car.Model.Manufacturer.Manufacturer" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new {  id = car.ModelID })" />
                    <br />
                    <button class="btn btn-default">Order</button>


                </li>
            }

        </ul>

</main>