@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script>

    $(function () {
        var helperUrl = '@Url.Action("HelpAjax","Guest")';

        var result;

     $.getJSON(helperUrl, function (data) {
         result = data;
         console.log(result);
        });
    });
</script>

<h2>Car Search</h2>
<main>


    <div class="input-group">
        <select name="transmission">
            <option value="0">Manual</option>
            <option value="1">Automatic</option>
        </select>
        <br />
        <br />
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, new { @class = "dropdown form-control" });
        <br />
        <br />
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, new { @class = "dropdown form-control" });
        <br />
        <br />
      

        
        <p>Date: <input type="text" id="datepicker" class="form-control" /></p>
        <br />
    </div>
    <br />
    <br />
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
        </span>
    </div>
        <ul class="list-inline carlist">


            @foreach (var car in Model)
            {
                <li class="" id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new { id = car.ModelID })" />


                </li>
            }

        </ul>

</main>