@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>

    $(function () {
        var helperUrl = '@Url.Action("HelpAjax","Guest")';

        var result;

     $.getJSON(helperUrl, function (data) {
         result = data;
         console.log(result);
        });
    });
</script>

<h2>Car Search</h2>
<main>



    <select name="transmission">
        <option value="0">Manual</option>
        <option value="1">Automatic</option>
    </select>

    <br />



    <br />


    @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, new { @class = "dropdown" });
    <br />
    <br />
    @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, new { @class = "dropdown" });
    <br />
    <br />
    <input type="search" placeholder="search" />
    <br />
    <input type="datetime" />
    <br />

    <ul class="list-inline carlist">


        @foreach (var car in Model)
            {
            <li class="" id="@car.CarID">

                @Html.Partial("SingleCarPartialView", car);
                <img src="@Url.Action("GetImage", new { id = car.ModelID })" />


            </li>
        }

    </ul>

</main>