@using CarRental.Data

@model IEnumerable<Car>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}





<h2>Car Search</h2>
<main>

    <div class="container carsearch col-lg-12">




        <label>Search by gear</label>
    <div class="input-group col-md-3">     
        <select name="transmission" class="dropdown form-control" id="gear">
            <option value="#" selected>--Select Gear--</option>
            <option value="0">manual</option>
            <option value="1">automatic</option>
            <option value="2">robotic</option>
        </select>
      
        
        <span class="input-group-btn">
            <button class="btn btn-default" id="searchbyTransmission">Search</button>
        </span>
      
    </div>



        <br />
        <br />




        <label>Search by model</label>
    <div class="input-group col-md-3">            
        @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model, "-- Please Select --", new {  @class = "dropdown form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" id="searchbyModel">Search</button>
        </span>     
    </div>
        <br />
        <br />


        <label>Search by manufacturer</label>
        <div class="input-group col-md-3">              
        @Html.DropDownList("manufa", (IEnumerable<SelectListItem>)ViewBag.manufac, "-- Please Select --", new { @class = "dropdown form-control" })
        <span class="input-group-btn">
            <button class="btn btn btn-default" id="searchbyManufacturer">Search</button>
        </span>      
    </div>
        <br />
        <br />



        <label>Please Select Date</label>
      
        <div class="input-group col-md-3 datepicking">
            <input type="text" id="datepicker1" class="form-control" placeholder="From..." /><span>     </span>
        </div>
        <div class="input-group col-md-3">
            <input type="text" id="datepicker2" class="form-control" placeholder="To..." /><span class="input-group-btn"><button class="btn btn-default" id="searchbyDate">Search</button></span>
        </div>
            <br />
            <br />



            <label>Free Search</label>
            <div class="input-group col-md-3">

                <input type="text" id="freeText" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="freeSearch">Search</button>
                </span>


            </div>
            <br />
            <br />
            <button class="btn btn-default" id="reset">Clear Results</button>
        </div>
    <br />
    <br />
    <div id="failure"></div>
   

    


        <ul class="list-inline carlist">
            @foreach (var car in Model)
            {
                <li class="list-group-item model" data-carModel="@car.Model.NameofModel" data-manufacturer="@car.Model.Manufacturer.Manufacturer"
                     data-gear="@car.Model.gear"  id="@car.Model.ModelID" data-carID="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car)   
                    
                                   
                    @{ 
                        var linktoPicture = "/Guest/GetImage/" + car.ModelID.ToString();
                    }

                    <img src="@linktoPicture" /> <br />
                    <button class="btn btn-default calculate">Price Calculation</button>
                </li>
            }
        </ul>

    <div id="interested"></div>

    <div id="dialog" title="Price Calculation">
     
        <h3 id="modelName"></h3>
        <input id="modelId" type="hidden" />
        <span>From</span><br />
        <input type="text" id="datepickerStart" class="form-control">
         <br />
         <span>To</span>      <br />
        <input type="text" id="datepickerEnd" class="form-control">
         <br />
       <br />
        <p id="price"></p>
        <br />
        <p id="fine"></p>
        <br />
        @if (User.Identity.IsAuthenticated)
        {

            <button class="makeorder btn btn-default">Make Order</button>
        }
        else
        {
            <a href="@Url.Action("Login", "Home")">Please Log in</a>   <a href="@Url.Action("SignUp", "Home")">or sign up</a><span>before making reservation</span>
        }

      
        </div>



</main>
<script src="~/Scripts/ScriptLibriaries/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/bootstrap.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/moment.min.js"> </script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/ViewScripts/MainScript.js"></script>
<script src="~/Scripts/ViewScripts/GuestControllerScript.js"></script>

<script src="~/Scripts/ScriptLibriaries/jquery.validate.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/jquery.validate.unobtrusive.min.js"></script>