@model CarRental.Data.Car

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProperState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProperState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
