@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    
    $(function () {
        var helperUrl = '@Url.Action("HelpAjax")';

        var result;

     $.getJSON(helperUrl, function (data) {
         result = data;
         console.log(result);
        });
    });
</script>

<h2>Car Search</h2>
<main>
   


    <select name="transmission">
        <option value="0">Manual</option>
        <option value="1">Automatic</option>
    </select>

    <br />

    @{ 
        IEnumerable<SelectListItem> modelsList = ViewBag.model;

       IEnumerable<SelectListItem> manufacturerList = ViewBag.man;
    }
    
    <br />


    @Html.DropDownList("model", (IEnumerable<SelectListItem>)ViewBag.model,"Select by Model");
    <br />
    @Html.DropDownList("man", (IEnumerable<SelectListItem>)ViewBag.man, "Search by manufacturer");
    <br />
    <input type="search" placeholder="search" />
    <br />
    <input type="datetime" />
    <br />
    
    <ul class="list-group carlist">

       
            @foreach (var car in Model)
            {
                <li id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new { id = car.ModelID })" />


                </li>
            }

        </ul>

</main>